@model IEnumerable<School.Application.Models.StudentModel>

@{
    ViewData["Title"] = "Student";
}
@{
    bool isAdmin = ViewContext.HttpContext.User.IsInRole("Admin");
}

<h2>Student</h2>

<p>
    @if (isAdmin)
    {
        <a asp-action="Create">Create New Student</a>
    }
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="searchTerm" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Group</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => student.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.LastName)
                </td>
                <td>
                    <a class="btn"
                       asp-controller="Groups" asp-action="Index"
                       asp-route-groupId="@student.GroupId">
                        @Html.DisplayFor(modelItem => student.Group.Name)
                    </a>
                </td>
                <td>
                    <a class="btn"
                       asp-action="Details"
                       asp-route-studentId="@student.Id">
                        Details
                    </a>
                    @if (isAdmin)
                    {
                        <a class="btn"
                           asp-action="Edit"
                           asp-route-studentId="@student.Id">
                            Edit
                        </a>
                        <a class="btn"
                           asp-action="Delete"
                           asp-route-studentId="@student.Id">
                            Delete
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
