@model IEnumerable<School.Application.Models.CourseModel>

@{
    ViewData["Title"] = "Courses";
}
@{ 
    bool isAdmin = ViewContext.HttpContext.User.IsInRole("Admin"); 
}

<h2>Courses</h2>

<p>
    @if (isAdmin)
    {
        <a asp-action="Create">Create New Course</a>
    }
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="searchTerm" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Course Name</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>
                    <a class="btn"
                       asp-controller="Groups" asp-action="Index"
                       asp-route-parentId="@course.Id">
                        @course.Name
                    </a>
                </td>
                <td>@course.Description</td>
                <td>
                    <a class="btn"
                       asp-action="Details"
                       asp-route-courseId="@course.Id">
                        Details
                    </a>
                    @if (isAdmin)
                    {
                        <a class="btn"
                           asp-action="Edit"
                           asp-route-courseId="@course.Id">
                            Edit
                        </a>
                        <a class="btn"
                           asp-action="Delete"
                           asp-route-courseId="@course.Id">
                            Delete
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
