@page
@model School.Web.Pages.Student.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Student List</h2>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    Search
                </button>
            </span>
        </div>
    </div>
</form>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Group</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.StudentList)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => student.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.LastName)
            </td>
            <td>
                <a class="btn"
                   asp-page="/Group/Index"
                   asp-route-groupId="@student.GroupId">
                    @Html.DisplayFor(modelItem => student.Group.Name)
                </a>
            </td>
            <td>
                <a class="btn"
                   asp-page="./Details"
                   asp-route-studentId="@student.Id">
                    Details
                </a>
                <a class="btn"
                   asp-page="./Edit"
                   asp-route-studentId="@student.Id">
                    Edit
                </a>
                <a class="btn"
                   asp-page="./Delete"
                   asp-route-studentId="@student.Id">
                    Delete
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
